*{ 
    margin: 0;}

body{
    background-color:#F7F9F9 ;
    min-height: 200vh;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    font-family: monospace;
}

header .sticky{
    padding: 5px 100px;
    background: #F7F9F9;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #F7F9F9;
    font-size: 30px;
    letter-spacing: 2px;
    transition: 0.6s;
    text-decoration: none;
    font-stretch: extra-condensed;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    font-size: 20px;
    color:#F7F9F9 ;
    text-decoration: none;
}

header .sticky .logo{
    color: #086970 ;
}

header .sticky ul li a{
    color: #086970;

}

.banner{
    position: absolute;
    margin-top: 0%;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -100;
}

.headercontainer h1{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 150px;
    position: relative;
    font-family: monospace;
    font-size: 80px;
    font-weight: bold;
    color: #F7F9F9;
    margin-block-end: 10px;    
}

.headercontainer h1:hover{
    text-shadow: 0px 0px 5px #bcd9db;
}

.headercontainer p{
    margin-left: 100px;
    padding-top: 20px;
    color:#F7F9F9 ;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-align: left;
    margin-right: 55%;   
}

.headercontainer button{
    margin-left: 100px;
    padding-top: 30px;
    padding: 15px;
    background-color:#F7F9F9 ;
    color:#086970 ;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    transition: ease-in;
}

.headercontainer button:hover{
    background-color:#F7F9F9 ;
    color:#086970 ;
    border-width: 10px;
    border-color: #F7F9F9 ;
    border-radius: 30px;
    box-shadow: 0 3px 15px 0 rgba(15, 15, 15, 0.158), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section2 {
    margin-top: 150px;
    color:#086970 ;
}

.planner img{
    margin-top: 80px;
    padding: 50px;
    float: left;
    width: 505px;
    height: 400px;
}

.attendance img{
    margin-top: 180px;
    padding: 115px;
    float: right;
    width: 505px;
    height: 400px;
}

.finance img{
    margin-top: 50px;
    padding: 30px;
    float: left;
    width: 505px;
    height: 400px;
}

.footer{
    margin-top: 400px;
    align-items: center;
    text-align: center;
    padding: 100px;
    background-color:#086970 ;
    left: 0;
    color:#F7F9F9 ;
    font-size: 20px;
}

.footer h1{
    padding-bottom: 50px;
}
