* { 
  margin: 0;
}

body {
    background-color:#F7F9F9 ;
}

.banner button {
    background-color:#F7F9F9 ;
    color: #086970 ;
    border-radius: 30px !important;
    border: none;
    font-weight: bold;
    transition: ease-in;
}

.banner button:hover{
    background-color: #F7F9F9 ;
    color: #086970 ;
    border-width: 10px;
    border-color:  #F7F9F9 ;
    box-shadow: 0 3px 15px 0 rgba(15, 15, 15, 0.158), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner_bg {
    position: absolute;
    margin-top: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container {
    margin-left: 100px;
}

.header h1 {
    /* margin-left: 100px; */
    margin-right: 100px;
    padding-top: 70px;
    position: relative;
    font-family: monospace;
    font-size: 80px;
    font-weight: bold;
    color: #F7F9F9;
    margin-block-end: 10px;    
}

.header h1:hover {
    text-shadow: 0px 0px 5px #bcd9db;
}

.header p {
    /* margin-left: 100px; */
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    color:#F7F9F9 ;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-align: left;
    margin-right: 55%;   
}

.start{
    /* margin-left: 100px; */
    margin-right: 100px;
    padding-top: 30px;
    padding: 15px;
    margin-top: 20px;
}


.section2 img{
    width: 520px;
    height: 400px;
    margin-top: 180px;
    padding: 50px;
}

.nav {
    padding-top: 0.5%;
    position: -webkit-sticky;
    position: fixed;
    margin-top: 0;
    width: 100%;
    height: 10%;
}

.nav ul{
    list-style: none;
    display: flex;
}

.nav ul li {
    padding-left: 3%;
}


.nav-content ul li a{
    color: #F7F9F9;
    font-family: monospace;
    font-size: 30px;
    float: right;
}


.active{ 
    background-color : #0b8d96;
    width: 100%;
    margin-left: 0 !important;
}


.section2 {
    margin-top: 150px;
    color: #086970;
    background-color: #F7F9F9;
}

.section2 img {
    margin-top: 40px;
    width: 505px;
    height: 400px;
}

.txt{
    width: 50vw;
    margin: 100px 50px;
}


.planner img{
    float: left;
}

.planner-text {
    float: right;
}

.attendance img{
    float: right;
}

.attendance-text {
    float: left;
}

.finance img{
    float: left;
}

.finance-text{
    float: right;
}

.section2 button{
    padding-top: 30px;
    padding: 15px;
    color:#F7F9F9 ;
    background-color:#086970 ;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    transition: ease-in;
}

.section2 button:hover{
    color:#F7F9F9 ;
    background-color:#086970 ;
    border-width: 10px;
    border-color: #F7F9F9 ;
    border-radius: 30px;
    box-shadow: 0 3px 15px 0 rgba(15, 15, 15, 0.158), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}








